<!DOCTYPE html>
<html>

   <body bgcolor = "#000000" alink = "#ffffff" link = "#03a9f4" vlink = "#b3e5fc">
   <center>
      <b>
      <br />
      <br />
      <br />
      <a href = "http://novaquotes-desafio.herokuapp.com/main.htm" target = "main_page">All Quotes</a>
      <br />
      <br />
      
      <a href = "http://novaquotes-desafio.herokuapp.com" target = "main_page">Home</a>
      <br />
      <br />
      </b>
      
      <a href = "http://novaquotes-desafio.herokuapp.com/Mon.htm" target = "main_page">Monday quotes</a>

      <a href = "http://novaquotes-desafio.herokuapp.com/Tue.htm" target = "main_page">Tuesday quotes</a>

      <a href = "http://novaquotes-desafio.herokuapp.com/Wed.htm" target = "main_page">Wednesday quotes</a>

      <a href = "http://novaquotes-desafio.herokuapp.com/Thu.htm" target = "main_page">Thursday quotes</a>

      <a href = "http://novaquotes-desafio.herokuapp.com/Fri.htm" target = "main_page">Friday quotes</a>

      <a href = "http://novaquotes-desafio.herokuapp.com/Sat.htm" target = "main_page">Saturday quotes</a>

      <a href = "http://novaquotes-desafio.herokuapp.com/Sun.htm" target = "main_page">Sunday quotes</a>
      </center>
   </body>
	
</html>